<!DOCTYPE html>
<html>
<head>
    <!--Page title-->
    <title>Alter Igo | Welcome</title>
    <!--Meta tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!--Static imports-->
    <link rel="stylesheet" href="{{ url_for('home.static', filename='styles/index.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
    <div class="mainblock">
        <h1>Alter Igo: Talk to your Data</h1>
        <p>Log in or sign up to access Alter Igo</p>
        <a href="{{ url_for('auth.login') }}">
            <button type="button" id="login-button">Log In</button>
        </a>
        <a href="{{ url_for('auth.signup') }}">
            <button type="button" id="signup-button">Sign Up</button>
        </a>
    </div>
</body>